{% extends "base.html" %}

{% set active_page = 'create' %}

{% block header %}
    <div class="container subheader">
        <h1>Create a QR code image</h1>
        <p class="lead">Create a QR code image for the URL you enter below</p>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            {{ wtf.quick_form(form, buttons = [('submit', 'primary', 'Create')]) }}
        </div>

        <aside class="span4">
            {% if show_last_image and g.last_image %}
                <a href="{{ url_for('last_image', download='+') }}" title="{{ g.last_image.content }}">
                    <img class="qrcode-image" src="{{ url_for('last_image') }}" 
                         title="Download QR code linking to {{ g.last_image.content }}" width="300">
                </a>
                <p>
                    QR code image for 
                    <a href="{{ g.last_image.content }}" title="{{ g.last_image.content }}">
                        {{ g.last_image.content }}
                    </a>
                </p>
            {% endif %}
        </aside>
    </div>
{% endblock %}
