{% extends "base.html" %}

{% set active_page = 'create' %}

{% block header %}
    <div class="container subheader">
        <h1>Create a QR code image</h1>
        <p class="lead">Create a QR code image for the URL you enter below</p>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            {{ wtf.quick_form(form, buttons = [('submit', 'primary', 'Create')]) }}
        </div>

        <aside class="span4">
            {% if show_last_image %}
                <p>You just created a QR code. Show it here.</p>
            {% endif %}
        </aside>
    </div>
{% endblock %}
